/* Custom CSS to supplement or override the template */

body {
  background-color: #E5E5E5;
}

.navbar .navbar-nav {
  /* display: inline-block; */
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

#caligraphy-desktop {
  width: 100%;
  height: auto;
}

#caligraphy-mobile {
  width: 100%;
  height: auto;
}

/* Display either the desktop or mobile version of the caligraphy */
@media (min-width: 992px) {
  #caligraphy-mobile {
    display: none;
  }
  #caligraphy-desktop {
    display: block;
  }
}
@media (max-width: 991px) {
  #caligraphy-mobile {
    display: block;
  }
  #caligraphy-desktop {
    display: none;
  }
}
