/* Custom CSS to supplement or override the template */

body {
  background-color: #E5E5E5;
}

/* Navbar */
.navbar .navbar-nav {
  /* display: inline-block; */
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Sticky navbar */
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Caligraphy vectors */
#caligraphy-desktop {
  width: 100%;
  height: auto;
}

#caligraphy-mobile {
  width: 100%;
  height: auto;
}

/* Display either the desktop or mobile version of the caligraphy */
@media (min-width: 992px) {
  #caligraphy-mobile {
    display: none;
  }
  #caligraphy-desktop {
    display: block;
  }
}
@media (max-width: 991px) {
  #caligraphy-mobile {
    display: block;
  }
  #caligraphy-desktop {
    display: none;
  }
}

/* Parallax effect */
.parallax-img-1, .parallax-img-2, .parallax-img-3 {
  position: relative;
  opacity: 0.6;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-img-1 {
  background-image: url("../img/lake.jpg");
  min-height: 100%;
}

.parallax-img-2 {
  background-image: url("../img/coffee.jpg");
  min-height: 600px;
}

.parallax-img-3 {
  background-image: url("../img/ring.jpg");
  min-height: 600px;
}
