/*
  ======================================================
  Cover
  ======================================================
*/
body {
  background-color: #E5E5E5;
}

body:after {
  content:"";
  position:fixed;
  top:0;
  height:100vh;
  left:0;
  right:0;
  z-index:-1;
  background: linear-gradient(
      rgba(255, 255, 255, 0.75),
      rgba(255, 255, 255, 0.75)
    ), url(../img/coffee.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*
  ======================================================
  Navbar
  ======================================================
*/
/* General navbar styling */
.navbar .navbar-nav {
  float: none;
  vertical-align: top;
  text-align: center;
}

.navbar .navbar-collapse {
  text-align: center;
}

/* Sticky navbar */
.sticky.is-sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* Styling when the navbar is in a sticky state */
nav.sticky.is-sticky {
  background-color: rgba(255, 255, 255, 0.75) !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2) !important;
}

/*
  ======================================================
  Calligraphy
  ======================================================
*/
#calligraphy-desktop {
  width: 100%;
  height: auto;
}

#calligraphy-mobile {
  margin-top: 20%;
  width: 100%;
  height: auto;
}

/* Add some spacing between navbar and calligraphy on the home page */
header #calligraphy-desktop {
  margin-bottom: 300px;
}

/* Section heading calligraphy */
@media (min-width: 992px) {
  .calligraphy-header {
    height: 130px;
  }
}
@media (max-width: 991px) {
  .calligraphy-header {
    height: 100px;
  }
  .calligraphy-wrapper {
    margin-bottom: 15px;
  }
}

section img {
  margin-bottom: 50px; /* TODO: Play with this a bit once calligraphy is added */
}

/* Display either the desktop or mobile version of the calligraphy */
@media (min-width: 992px) {
  #calligraphy-mobile {
    display: none;
  }
  #calligraphy-desktop {
    display: block;
  }
}
@media (max-width: 991px) {
  #calligraphy-mobile {
    display: block;
  }
  #calligraphy-desktop {
    display: none;
  }
}

/*
  ======================================================
  Accommodations Section
  ======================================================
*/
#hotel-vector {
  width: 200px;
}

/*
  ======================================================
  Registry Section
  ======================================================
*/
.registry-link {
  margin-top: 12px;
  margin-bottom: 12px;
}

.registry-link img {
  width: 140px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/*
  ======================================================
  RSVP Page
  ======================================================
*/
#rsvp-embed {
  padding-top: 5px;
  height: 100%;
}
