<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>

  <body>

    <!-- Caligrapy header -->
    <section class="row">
      <!-- TODO: Insert caligraphy -->
    </section>

    <!-- Navigation links -->
    <section class="row">
      <div class="container">
        <div class="row text-center">
          <div class="col-sm">
            <a href="#wedding">Wedding</a>
          </div>
          <div class="col-sm">
            <a href="#accomodations">Accomodations</a>
          </div>
          <div class="col-sm">
            <a href="#registry">Registry</a>
          </div>
          <div class="col-sm">
            <a href="#rsvp">RSVP</a>
          </div>
        </div>
      </div>
    </section>

    <!-- Cover image -->
    <section class="row">
      <div class="container">
        <img src="./assets/img/IMG_5132.jpeg" width="100%"/>
      </div>
    </section>

    <!-- Wedding date -->
    <section class="row">
      <div class="container text-center">
        <p>
          August 25, 2018
        </p>
      </div>
    </section>

    <!-- Wedding information -->
    <section class="row" id="wedding">
      <div class="container text-center">
        <p>
          Ceremony: Saturday August 25, 2018; 5:00 pm; Riverside Receptions &amp; Conference Center 35 North River Lane Geneva Illinois 60134
        </p>
        <p>
          Join us for a reception immediately following the ceremony at Riverside Receptions &amp; Conference Center.
        </p>
        <p>
          Pleast note, we will be having an Unplugged Ceremony. We will ask that you turn off all cameras, cell phones and other electronics until after the ceremony to be fully present during our special moment.
        </p>
        <p>
          Attire Formal
        </p>
      </div>
    </section>

    <!-- Accomodations -->
    <section class="row" id="accomodations">
      <div class="container text-center">
        <h2>Accomodations</h2>
        <p>
          A block of rooms has been reserved for our guests at a discounted rate. Please use the group code MILVOJ online or reference the Miles Vojak wedding when calling.
        </p>
        <p>
          Transportation will be available for guests staying at Hilton Garden Inn. Transportation will leave the hotel at 4:15 pm to Riverside Receptions. Following the reception, transportation will return at 11:30 pm.
        </p>
        <!-- TODO: Photo of Hilton Garden Inn St. Charles logo with link to book room with group code -->
        <!-- TODO: Address of hotel -->
        <!-- TODO: Google map of where hotel is located -->

        <p>
          Parking A free parking lot is available across the street from Riverside Receptions. Street parking is also avaible.
        </p>
        <p>
          Questions? Please contact <a href="mailto:milesvojakwedding@gmail.com">milesvojakwedding@gmail.com</a>
        </p>
      </div>
    </section>

    <!-- Registry -->
    <section class="row" id="registry">
      <div class="container text-center">
        <h2>Registry</h2>
        <!-- TODO: Use photos of each store to link to our registry -->
        <div class="row text-center">
          <div class="col-sm">
            Bed Bath &amp; Beyond
          </div>
          <div class="col-sm">
            Macy's
          </div>
          <div class="col-sm">
            Crate &amp; Barrel
          </div>
        </div>
      </div>
    </section>

  </body>

  <footer>
    <% include ../partials/footer %>
  </footer>

</html>
