<div class="container">
  <div class="row text-center">
    <div class="col-sm">
      <a href="#wedding">Wedding</a>
    </div>
    <div class="col-sm">
      <a href="#accomodations">Accomodations</a>
    </div>
    <div class="col-sm">
      <a href="#registry">Registry</a>
    </div>
    <div class="col-sm">
      <a href="#rsvp">RSVP</a>
    </div>
  </div>
</div>
